body{
    background-image: url(/AppWeb/Fotos/pngtree-white-technology-background-clean-style-picture-image_1209726.jpg);
}

.flex-item{
    border: 2px solid black;
    background: white; height: 30px;
    flex-basis: 100%;
    text-align: center;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container{
    display: grid;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid: 1fr 1fr 1fr 1fr;
}

footer{
    border: 2px solid black;
    background: white; height: 50px;
    position: fixed;
    bottom: 0%;
    width: 100%;
}


p{
    flex-direction: column;
    display: flex;
}

.formulario{
    flex-direction: column;
    
}

::-webkit-scrollbar {
    display: none;
}

.container {
    justify-content: ;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}